@import "tailwindcss";


@font-face {
    font-family: "Raleway";
    src: url(./font/Raleway/Raleway-Regular.ttf)
}

@font-face {
    font-family: "RalewayBold";
    src: url(./font/Raleway/Raleway-SemiBold.ttf)
}


@font-face {
    font-family: "RalewayExtra";
    src: url(./font/Raleway/Raleway-ExtraBold.ttf)
}




@theme {
    /* merah punchy */
    --color-primary: #9A0002;
    /*  pudar 1 */
    --color-pudar1: #AE3234;
    /* pudar 2 */
    --color-pudar2: #C26667;


    /* coba yang lain  */
    --color--coba: ##EFE6DE;
    --color-primaryHover: #1E90FF;
    /* transparansi */
    --color-primaryLight: rgba(15, 82, 186, 0.2);

    /* font */
    --font-Raleway: "Raleway", sans-serif;
    --font-RalewayBold: "RalewayBold", sans-serif;
    --font-RalewayExtra: "RalewayExtra", sans-serif;
}